@model PizzaVM

    <div class="card" >
        <img height="200" src=@Model.ImageUrl class="card-img-top" alt="...">
        <div class="card-body">
            <h2 class="card-title">@Model.Name</h2>
            <h5>Price: @Model.Price</h5>
            <h5>Size: @Model.Size</h5>
            @Html.ActionLink("Order", "Index", "Order", new {id = Model.Id }, new { @class = "details"});
        </div>
    </div>
    
    <style>
        a.details {
            display:flex;
            justify-content:center;
            align-items:center;
            background-color:blue;
            color:white;
            font-size:24px
        }
        .card {
            width:28%;
            margin:20px
        }
        .card-img-top {
            width: 100%;
            height:300px
        }
    </style>

@*
    Partial view that can be added in other views
*@