
@{
    Layout = null;

    //string pizza = "PIZZA";
    //string viktorius = "VIKTORIUS"
    
}

<div class="main">
    <div class="middle">
        <div class="boxh1">
            @foreach (var item in ViewBag.Pizza)
            {
                <h1>@item</h1>
            }
        </div>
        <div class="boxh2">
            @foreach (var item in ViewBag.Viktorius)
            {
                <h2>@item</h2>
            }
        </div>
        <div class="welcomeBox">
            <h3>WELCOME</h3>
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1z" />
            </svg>
            <form asp-controller="Home" asp-action="Index" method="get">
                <button class="btn" type="submit" asp-controller="Home" asp-action="Index">GET INSIDE</></button>
            </form>

        </div>
        
    </div>
</div>

<style>
    
        @@keyframes animateH2 {
            0% {
                text-shadow: 2px 2px rgba(180, 177, 48, 0.75);
                color:burlywood;
            }

            25% {
                text-shadow: 2px 4px rgba(180, 177, 48, 0.45);
                color:darkgreen;
            }

            50% {
                text-shadow: 4px 6px rgba(6, 160, 49, 0.65);
                color:gray;
            }

            75% {
                text-shadow: 4px 2px 2px rgba(171, 12, 97, 0.90);
                color:paleturquoise;
            }

            100% {
                text-shadow: 2px 2px rgba(180, 177, 48, 0.75);
            }
        }
    
    .main{
        box-sizing:border-box;
        margin:0px;
        padding:0px;
    }
    .middle {
        position: relative;
        width: 750px;
        height: 550px;
        margin:80px;
        left:300px;
        background-image: repeating-linear-gradient(to left, #333, #333 10%, #eee 75%, #333 75%);
        border:6px double rgba(118, 9, 127, 0.65);
        border-radius:40px;
    }
    .boxh1 {
        position: absolute;
        height: 500px;
        width: 10px;
        left: 30px;
       
        padding-top: 60px;
    }
    h1 {
        font-size: 40px;
        font-family: 'Bookman Old Style';
        color: ghostwhite;
        text-shadow: 6px 4px 2px #000000;
    }
    .boxh2 {
        position:absolute;
        left: 110px;
        height: 500px;
        width: 20px;
    }

    h2 {
        font-size: 30px;
        font-family: Chiller;
        color: honeydew;
        text-shadow: 2px 2px rgba(180, 177, 48, 0.75);
        animation-name: animateH2;
        animation-duration: 4s;
        animation-direction: alternate-reverse;
        animation-iteration-count: infinite;
    }
    .welcomeBox{
        position:absolute;
        width:500px;
        height:90%;
        left:200px;
        margin:10px;
        
        text-align:center;
    }
    .btn {
        position: absolute;
        width: 200px;
        height: 50px;
        bottom: 100px;
        left: 150px;
        background-color: gainsboro;      
        border-top: 2px #CD6AE8 dashed;
        border-bottom: 5px #CD6AE8 thick;
        border-left: 3px #CD6AE8  ridge;
        border-right: 7px #CD6AE8 double;
        border-radius: 120px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        cursor:pointer;
        transition:2s;
    }
    .btn:hover {
            background-color: #882B17;
            border-top: 7px black double;
            border-bottom: 3px #CD6AE8 ridge;
            border-left: 5px #A7D304 groove;
            border-right: 2px #771408 dashed;
            color: #EDF7C8;
    }
    .btn:focus{
        outline:none;
    }
    h3{
        font-size:3rem;
        font-family:'Kufi Outline Shaded';
        color:darkred;
    }
    h3:first-letter{
        font-size:4rem;
        color:deeppink;
        font-family:Papyrus;
    }
    .bi{
        width:90px;
        height:90px;
        color:whitesmoke;
    }
</style>

